@{
    ViewBag.Title = "Contact";
}
<h2>Get in touch</h2>


<address>
    15 East Parade<br />
    Harrogate<br />
    North Yorkshire<br />
    HG1 7EB<br/>
    <abbr title="Phone">P:</abbr>
    (01423) 541 395
</address>

<address>
    <strong>Enquiries:</strong>   <a href="mailto:Enquiries@HarrogateHolidayLettings.com">Enquiries@HarrogateHolidayLettings.com</a><br />
    <strong>Bookings:</strong> <a href="mailto:Bookings@HarrogateHolidayLettings.com">Bookings@HarrogateHolidayLettings.com</a>
</address>