@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rental Site</h1>
    <p class="lead">List your rental properties, take bookings and collect payments</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List your property</h2>
        <p>
           List your property on Rental Site to reach your future guests.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
</div>