@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Harrogate Holiday Apartments</h1>
    <p class="lead">Home from home accommodation</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List your property</h2>
        <p>
           List your property on Harrogate Holiday Apartments to reach your future guests.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Properties")">List your property</a></p>
    </div>
</div>