@import url(https://fonts.googleapis.com/css?family=Abril+Fatface|Open+Sans);

/*purple = #5c003a
grey = #666666
black = black
green = d3e147*/

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:'Open Sans';
    font-weight:400;
    background: url(/Images/tweed_@2X.png);
    background-color:#666666;
}

h1,h2,h3,h4,h5,h6 {
    font-family:'Abril Fatface';
    font-weight:400;
    color:#d3e147;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-image:url(/Images/cream_dust_@2X.png);
    background-color:white;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: 0px 0px 20px black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* navbar */
.navbar-default {
    background-color:whitesmoke;
}
/* title */
.navbar-default .navbar-brand {
    
    color: #d3e147;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5c003a;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d3e147;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.jumbotron {
    background-color: #5c003a;
    color: #d3e147;
    opacity: 0.7;
}

.btn-default{
    background-color:#666666;
    color:#d3e147;
}

.btn:hover,
.btn:focus {
    background-color:#d3e147;
    color:#5c003a;
}

.modal-footer {
    width:80%;
    color:whitesmoke;
  padding: 19px 20px 20px;
  margin-top: 15px;
  text-align: right;
  border-top: 0px solid #e5e5e5;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.modal-footer:after {
  clear: both;
}

.info-bubble{
    border: solid black 0px; 
    border-radius:20px; 
    margin:5px;
    box-shadow:0px 0px 6px black;
    background-color:#666666;
    color:white;
}

