  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:hhlsql.database.windows.net,1433;Data Source=hhlsql.database.windows.net;Initial Catalog=HHLSQL;Persist Security Info=False;User ID=owen;Password=FuckYou69;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
    <add name="PropertyListingModel" connectionString="Server=tcp:hhlsql.database.windows.net,1433;Data Source=hhlsql.database.windows.net;Initial Catalog=HHLSQL;Persist Security Info=False;User ID=owen;Password=FuckYou69;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
poopoo